@model NewsPortalProject.Models.NewsSource
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<style>
    html, body {
        background-color: white;
        margin: 0;
        padding: 0;
        height: 130vh;
    }
</style>



<center>
    @using (Html.BeginForm())
    {
        <div class="card p-5" style="display: inline-block; margin-top: 50px; background: linear-gradient(to right, rgba(252, 42, 0, 0.8), rgba(85, 85, 85,0.8)); border: none; border-radius: 20px; box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); width: 400px;">
            <div class="card-header bg-transparent text-white text-center mb-4" style="border-radius: 20px 20px 0 0;">
                <h3 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Source Sign-Up</h3>
                <br />
            </div>
            <div id="errorMessage" class="text-danger mb-4"></div>
            <div class="form-group mb-4">
                <div class="row">
                    <div class="col-md-12 text-white">
                        Corporation Name
                    </div>
                    <div class="col-md-12 mt-3">
                        @Html.EditorFor(model => model.CorpationName, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Your Email", style = "border-radius: 15px;" } })
                    </div>
                </div>
            </div>
            <div class="form-group mb-4">
                <div class="row">
                    <div class="col-md-12 text-white">
                        Corporation Password
                    </div>
                    <div class="col-md-12 mt-3">
                        @Html.EditorFor(model => model.CorpationPassword, new { htmlAttributes = new { @class = "form-control", placeholder ="Create New Password", style = "border-radius: 15px;" } })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-offset-2 col-md-11.5 d-grid">
                        <input type="submit" value="Create" class="btn btn-primary btn-block" style="background: linear-gradient(135deg, #FA421B, #555555); border-radius: 15px; border: none; margin-left:12px; margin-top:15px;" />
                    </div>
                </div>
            </div>
        </div>
    }
</center>



<script>
        var errorMessage = '@ViewBag.ErrorMessage';
        if (errorMessage.length > 0) {
            document.getElementById('errorMessage').innerHTML = errorMessage;
        }
</script>