@model NewsPortalProject.Models.User

@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card p-4" style="background-color: #f8f9fa;">
            <div class="card-header bg-primary text-white text-center">
                <h4 class="card-title mb-0">Sign Up</h4>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    <div class="row mb-3">
                        <div class="col">
                            <label for="Name" class="form-label">Name</label>
                            <input type="text" class="form-control" name="Name" id="Name" required />
                        </div>
                        <div class="col">
                            <label for="Surname" class="form-label">Surname</label>
                            <input type="text" class="form-control" name="Surname" id="Surname" required />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="Age" class="form-label">Age</label>
                            <input type="number" class="form-control" name="Age" id="Age" required />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="Email" class="form-label">Email</label>
                            <input type="email" class="form-control" name="Email" id="Email" required />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="Password" class="form-label">Password</label>
                            <input type="password" class="form-control" name="Password" id="Password" required />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="Gender" class="form-label">Gender</label>
                            @Html.EnumDropDownListFor(model => model.Gender, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="Image" class="form-label">Profile Picture</label>
                            <input type="file" class="form-control" name="Image" id="Image" accept="image/*" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




<script>
        var errorMessage = '@ViewBag.ErrorMessage';
        if (errorMessage.length > 0) {
            document.getElementById('errorMessage').innerHTML = errorMessage;
        }
</script>
