
@model  IEnumerable<NewsPortalProject.Models.NewsCategory>

@{
    ViewBag.Title = "Index";
}

<style>
    
    }
    .btn{
        color:black;
        
    }
    .btn:hover{
        color:white;
        background-color:mediumpurple;
    }
    .card:hover{
      transform:none; 
      transition:none;
      box-shadow:none;
    }
</style>
<div class="card" style="padding:0px; height:60vw;border-radius:0; background-color:white; color:black; margin-top:0;transform:none; transition:none;">

    @foreach (var item in Model)
    {

        <form method="post" action="/NewsCasts/MainNewsCategory">
            <input type="hidden" name="NewsCategoryId" id="NewsCategoryId" value="@Html.DisplayFor(modelItem => item.NewsCategoryId)" />
            <button style="margin-top:4px;width:100%" class="btn " list-group-item-action list-group-item-dark" type="submit">@Html.DisplayFor(modelItem => item.Category)</button>
        </form>

    }

</div>



