@{
    ViewBag.Title = "GetShareTable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    /* Table styling */
    
    .table-bordered {
        border: 1px solid white;
    }

        .table-bordered th,
        .table-bordered td {
            border: 2px solid white;
        }
    
    .table-hover tbody tr:hover {
        background-color: #f5f5f5; /* Hover color for rows */
    }
    tr,td{
        color:white;
    }
</style>
<h3 style="color:black;">My Share List</h3>
<!-- Table for Share List -->
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr style="color:black;">
                <th scope="col">News Title</th>
                <th scope="col">Send User Name</th>
                <th scope="col">Receive User Name</th>
                <th scope="col">Share Date</th>
            </tr>
        </thead>
        <tbody >
            @foreach (var item in Model)
            {
                var Title = item.GetType().GetProperty("Title").GetValue(item, null);
                var UName = item.GetType().GetProperty("UName").GetValue(item, null);
                var SName = item.GetType().GetProperty("SName").GetValue(item, null);
                var Date = item.GetType().GetProperty("Date").GetValue(item, null);
                var NewsShareId = item.GetType().GetProperty("NewsShareId").GetValue(item, null);

                <tr >
                    <td style="color:black;">@Title</td>
                    <td style="color:black;">@UName</td>
                    <td style="color:black;">@SName</td>
                    <td style="color:black;">@Date</td>
                </tr>
            }
        </tbody>
    </table>
</div>
