
@model IEnumerable<object>

@{
    ViewBag.Title = "MainNewsCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        @foreach (var item in Model)
        {
            var Title = item.GetType().GetProperty("Title").GetValue(item, null);
            var Text = item.GetType().GetProperty("Text").GetValue(item, null);
            var MultimediaUrl = item.GetType().GetProperty("MultimediaUrl").GetValue(item, null);
            var Comments = item.GetType().GetProperty("Comments").GetValue(item, null);
            var NewsCategoryId = item.GetType().GetProperty("NewsCategoryId").GetValue(item, null);
            var CorpationName = item.GetType().GetProperty("CorpationName").GetValue(item, null);
            var NewsCastId = item.GetType().GetProperty("NewsCastId").GetValue(item, null);
            var NewsSourceId = item.GetType().GetProperty("NewsSourceId").GetValue(item, null);

            <div class="col-6">
                <div class="card" style=" height:470px;margin-left:40px; margin-top: 15px; width: 450px;">
                    <img src="~/Images/NewsImages/@MultimediaUrl" class="card-img-top" alt="MultimediaUrl">
                    <div class="card-body">
                        <h4 class="card-title" style="color:black;">@Title</h4>
                        
                        <form method="post" action="/NewsCasts/MainNewsAllDetail">
                            <input type="hidden" name="NewsCastId" value="@NewsCastId" />
                            <button class="btn" type="submit" style="background-color:mediumpurple; color:white; width:100%; margin-top:15px;">Go Details,Comments and Shares</button>
                        </form>
                        <br />
                        



                    </div>

                </div>
            </div>


        }
    </div>

</div>