@model IEnumerable<object>

@{
    ViewBag.Title = "MainNewsAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    /* Card Styling */
    .card {
        border: 1px solid white;
        transition: transform 0.2s;
        border-radius: 15px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        height: 650px; /* Fixed height for the card */
        margin-bottom: 30px; /* Added margin at the bottom */
    }

        .card:hover {
            transform: scale(1.05);
        }

    .card-img-top {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        object-fit: cover;
        height: 250px; /* Fixed height for the image */
    }

    .card-body {
        background-color: black;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        height: 250px; /* Fixed height for the card-body */
        overflow: hidden; /* Hide overflow content */
    }

    /* Button Styling */
    .btn-danger {
        background-color: #dc3545; /* Bootstrap's danger color */
        border-color: #dc3545;
    }

        .btn-danger:hover {
            background-color: #c82333; /* Darker red color on hover */
            border-color: #c82333;
        }

    /* Source Styling */
    .source-container {
        padding: 10px;
        border: solid black 1px;
        border-radius: 5px;
        display: inline-block;
        margin-bottom: 20px;
    }

        .source-container h6 {
            margin-bottom: 0;
        }

    .btn {
        margin-bottom: 20px;
    }

    .corp-name {
        color: cadetblue;
    }
</style>

<div class="container-fluid">
    <div class="row">
        @foreach (var item in Model)
        {
            var Title = item.GetType().GetProperty("Title").GetValue(item, null);
            var Text = item.GetType().GetProperty("Text").GetValue(item, null);
            var MultimediaUrl = item.GetType().GetProperty("MultimediaUrl").GetValue(item, null);
            var Comments = item.GetType().GetProperty("Comments").GetValue(item, null);
            var NewsCategoryId = item.GetType().GetProperty("NewsCategoryId").GetValue(item, null);
            var CorpationName = item.GetType().GetProperty("CorpationName").GetValue(item, null);
            var NewsCastId = item.GetType().GetProperty("NewsCastId").GetValue(item, null);
            var NewsSourceId = item.GetType().GetProperty("NewsSourceId").GetValue(item, null);

            <div class="col-6">
                <div class="card" style="width:100%; margin-top:15px;">
                    <img src="~/Images/NewsImages/@MultimediaUrl" class="card-img-top" alt="MultimediaUrl">
                    <div class="card-body">
                        <h3 class="card-title">@Title</h3>
                        <p class="card-text">@Text.ToString().Substring(0, 200) ...</p>

                        <form method="post" action="/NewsCasts/MainNewsAllDetail">
                            <input type="hidden" name="NewsCastId" value="@NewsCastId" />
                            <button class="btn btn-danger" type="submit">Go To Details, Comments and Shares</button>
                        </form>

                        <div class="source-container">
                            <h6><b>Source</b></h6>
                            <span class="corp-name">@CorpationName</span>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
